/* styles.css */
/* Add these styles for dark mode */
.dark-mode  {
    background-color: black !important;
    color: #fff !important;

}

.dark-mode a {
    text-decoration: none ;
    color: #fff;
}

.dark-mode a .fa-arrow-right-long{
    color: #fff !important;
}
.dark-mode a h4{
    color: #fff;
}

.dark-mode .rectangle{
    background-color:white;
}

.dark-mode .about_section .content .heading {
    -webkit-text-stroke-width: .2vw;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.486);
}