/* styles.css */
/* Add these styles for dark mode */
.dark-mode  {
    background-color: black !important;
    color: #fff !important;

}

.dark-mode a {
    text-decoration: none ;
    color: #fff;
}

.dark-mode a .fa-arrow-right-long{
    color: #fff !important;
}
.dark-mode a h4{
    color: #fff;
}

.dark-mode .rectangle{
    background-color:white;
}

.dark-mode .about_section .content .heading h3 {
    color: white;
}
.dark-mode .about_section .content .heading h5 {
    color: rgba(255, 255, 255, 0.423);
}
.dark-mode .about_section .content .heading h5 span {
    color: rgb(99, 99, 99);
    letter-spacing: 0;
}
.dark-mode .exp_section .content_layer .main_box .boder_box{
    background-color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box h4 {
    color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box h5 {
    color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box h2 {
    color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box .button_box a {
    color: black;
}