/* styles.css */
/* Add these styles for dark mode */
.dark-mode  {
    background-color: black !important;
    color: #fff !important;

}

.dark-mode a {
    text-decoration: none ;
    color: #fff;
}

.dark-mode a .fa-arrow-right-long{
    color: #fff !important;
}
.dark-mode a h4{
    color: #fff;
}

.dark-mode .rectangle{
    background-color:white;
}

.dark-mode .about_section .content .heading h3 {
    color: white;
}
.dark-mode .about_section .content .heading h5 {
    color: rgba(255, 255, 255, 0.423);
}
.dark-mode .about_section .content .heading h5 span {
    color: rgb(99, 99, 99);
    letter-spacing: 0;
}
.dark-mode .exp_section .content_layer .main_box .boder_box{
    background-color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box h4 {
    color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box h5 {
    color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box h2 {
    color: black;
}
.dark-mode .exp_section .content_layer .main_box .content_box .button_box a {
    color: black;
}

.dark-mode .workspace_section .container .maincardbox .upperpart #ig1 {
    background-color: rgb(255, 255, 255);
}
.dark-mode .workspace_section .container .maincardbox .upperpart #ig2 {
    background-color: rgb(255, 255, 255);
}
.dark-mode .workspace_section .container .maincardbox .upperpart #ig3{
    background-color: rgb(255, 255, 255);
}
.dark-mode .workspace_section .container .maincardbox .upperpart #ig4 {
    background-color: rgb(255, 255, 255);
}

.dark-mode .exp_section .tab_container .tab_button{
    color: white;
}
.dark-mode .exp_section .tab_container .tab_button.active {
    color: rgb(0, 0, 0);
}


.dark-mode .lets_connect_section .right_section .box {
    border-color: white;
}
.dark-mode .lets_connect_section .right_section .box:hover {
    border-color: #f3d971;
    background-color: #f9cf2650;
}

.dark-mode .lets_connect_section .right_section .box .inputbox input {
    border: .3vw solid white;
    color: white;
}
.dark-mode .lets_connect_section .right_section .box .inputbox span {
    
    color: white;
}

.dark-mode .lets_connect_section .right_section .box .inputbox input:hover {
    border: .3vw solid #f3d971;
}
.dark-mode .lets_connect_section .right_section .box .inputbox input:valid ~ span,
.inputbox input:focus ~ span 
{
    color: rgb(0, 0, 0) !important;
    border-left: .15vw solid rgb(255, 218, 7);
    border-right: .15vw solid rgb(255, 218, 7);
    background-color: rgb(255, 218, 7) ;
}


.dark-mode .lets_connect_section .right_section .box 
.inputbox:nth-child(2) input:focus ~ span,
.inputbox:nth-child(2) input:valid ~ span
{
    background-color: rgb(255, 218, 7) ;
    color: #000000 ;
    padding-top :.2vw;
}


.dark-mode .lets_connect_section .right_section .box .inputbox input:valid ,.inputbox input:focus{
    border: .3vw solid rgb(255, 218, 7) !important ; 
}


.dark-mode .lets_connect_section .right_section .box  .send-button {
    border: .28vw solid white;
    color: white;
}
.dark-mode .lets_connect_section .right_section .box  .send-button:hover {
    border: .28vw  solid rgb(255, 218, 7);
    color:  rgb(255, 218, 7);
}
.dark-mode .lets_connect_section .right_section .box  .send-button:hover a {
    color:  rgb(255, 218, 7);
}
.dark-mode .lets_connect_section .right_section .box  .send-button:active {
    border: .28vw  solid rgb(255, 218, 7);
    color:  rgb(255, 218, 7);
    color: black;
}
.dark-mode .lets_connect_section .right_section .box  .send-button:active a{
    color:  rgb(255, 218, 7);
    color: black;
}