* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}

.nav_bar{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25vw;
    padding: 2vw 0px 1vw 3vw;
    /* border: 1px solid black ; */
    
    
    font-size: 20px;
    
    
}

.logo{
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.tag_bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5vw;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.img{
    background-image: url(./resources/LOGO\ 1.svg);
    width: 22vw;
    height: 22vw;
    background-size: contain;
    z-index: -1;
    top: -5.3vw;
    left: -9vw;
    background-repeat: no-repeat;
    position: absolute;
}

.box-rectangle{
    background-image: url(./resources/LOGO\ 2\ black-box\ 1.svg);
    width: 40vw;
    height: 40vw;
    background-size: contain;
    z-index: -1;
    right: -12vw;
    top:-8vw;
    background-repeat: no-repeat;
    position: absolute;
}

.circle1 {
    background-color: rgb(255, 225, 0) ;
    /* border: 1px solid black ;* */
    width: 40px; 
    height: 40px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    right: 2vw;
    top: 12vw;
}

.circle2 {
    background-color: rgb(255, 225, 0) ;
    /* border: 1px solid black ; */
    width: 40px; 
    height: 40px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    right: 38vw;
    top: 10vw;
}
.circle3 {
    background-color: rgb(255, 225, 0) ;
    /* border: 1px solid black ; */
    width : 30vw; 
    height: 30vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    right: -12vw;
    top: 40vw;
}
.circle4 {
    background-color: rgb(47, 46, 45) ;
    /* border: 1px solid black ; */
    width : 15vw; 
    height: 15vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    right: 12vw;
    top: 48vw;
}

.circle5 {
    background-color: rgb(255, 208, 0) ;
    /* border: 1px solid black ; */
    width : 9vw; 
    height: 9vw;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    right: 25vw;
    top: 48vw;
}

.circle6 {
    background-color: rgb(47, 47, 45) ;
    /* border: 1px solid black ; */
    width : 9vw; 
    height: 9vw;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    right: -5vw;
    top: 35vw;
}


.big_circle {
    background-color: rgb(255, 213, 0) ;
    /* border: 1px solid black ; */
    width: 30vw; 
    height: 30vw;
    z-index: -5;
    border-radius: 50%;
    position: absolute;
    right: 6vw;
    top: 10vw;
}

.yello_boxes{
    background-image: url(./resources/yello\ box.svg);
    width: 30vw;
    height: 30vw;
    background-size: contain;
    z-index: -1;
    right: 29vw;
    top: 30vw;
    background-repeat: no-repeat;
    position: absolute;
}

.black_circle {
    background-color: rgb(32, 30, 14) ;
    /* border: 1px solid black ; */
    width: 60px; 
    height: 60px;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
    right: 38.5vw;
    top: 29vw;
}

.my_img{
    background-image: url(./resources/me.png);
    width: 42vw;
    height: 42vw;
    background-size: contain;
    z-index: -1;
    right: -1vw;
    top: 9vw;
    background-repeat: no-repeat;
    position: absolute;
}

.yelo_elem{
    background-image: url(./resources/yelo\ elem.svg);
    width: 112vw;
    height: 112vw;
    background-size: contain;
    z-index: -1;
    right: -4vw;
    top: 31vw;
    background-repeat: no-repeat;
    position: absolute;
    transform: scaleX(-1);
}




