/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.toggle {
    width: 60px;
    height: 30px;
    background-color: #aeebff;
    border-radius: 15px;
    position: relative;
}

.toggle:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fbff00;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.2s ease-in-out;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"]:checked + .toggle:before {
    transform: translateX(30px);
    background-color: #ffffff;
}
